div{
    width:300px;
    height: 500px;
    background-color: whitesmoke;
    margin: 0 auto;
}
div1{
    width: 298px;
    height: 40px;
    background-color: white;
    margin: 0 auto;
}
div2{
    width: 298px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
}
#t{
    border-top:black 1px solid ;
    border-bottom:black 1px solid ;
    border-left:black 1px solid ;
    border-right:black 1px solid ;
    box-shadow: gray 10px 20px 10px;
}
#x1{
    position: absolute;
    top:10px;
    left:490.5px;
}
x1{
    position: relative;
    left:10px;
    top:10px;
}
xi1{
    position: relative;
    left:10px;
    top:10px;
}
h1{
    text-indent: 2em;
    text-align: justify;
    line-height: 1px;
    font-weight: normal;
    position: relative;
    top: 40px;
    left: -10px;
}
h2{
    text-indent: 2em;
    text-align: justify;
    line-height: 1px;
    font-weight: normal;
    position: relative;
    top: 50px;
    left: 0px;
}
#y1{
    position: absolute;
    top:90px;
    left:490.5px;
}
y1{
    position: relative;
    left:27px;
    top:12px;
}
yi1{
    position: relative;
    left:20px;
    top:15px;
}
#y2{
    position: absolute;
    top:150px;
    left:490.5px;
}
y2{
    position: relative;
    left:36px;
    top:12px;
}
yi2{
    position: relative;
    left:25px;
    top:15px;
}
y3{
    position: relative;
    left:35px;
    top:10px;
}
y4{
    position: relative;
    left:70px;
    top:10px;
    color: red;
}